/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ED1C24; /* Vermelho do Burger King */
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #ED1C24; /* Vermelho do Burger King */
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para o carrossel */
.carousel {
    display: flex;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    display: none;
}

/* Estilos para o cardápio */
.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

.menu-item img {
    width: 100%;
    border-radius: 8px;
}

.menu-item h3 {
    color: #ED1C24; /* Vermelho do Burger King */
}

.menu-item p {
    line-height: 1.6;
}
